需要在AnocondaNavigator的虚拟环境中额外安装xlrd来读取xls文件

findall(pattern,string) 能找出string中符合pattern的字符串并形成数组

[a,x] = enumerate(列表) 对列表进行枚举
输出每个字符串的顺序

In [5]:
seasons = ['Spring', 'Summer', 'Fall', 'Winter']
print(list(enumerate(seasons)))
print(list(enumerate(seasons, start=1)))  #下标从 1 开始

[(0, 'Spring'), (1, 'Summer'), (2, 'Fall'), (3, 'Winter')]
[(1, 'Spring'), (2, 'Summer'), (3, 'Fall'), (4, 'Winter')]

loc方法是通过行、列的名称或者标签来寻找我们需要的值。→标签
iloc方法是通过索引行、列的索引位置[index, columns]来寻找值→索引位置

In [1]:
import pandas as pd
import numpy as np
 
# 生成DataFrame
data = pd.DataFrame(np.arange(30).reshape((6,5)),
                    columns=['A','B','C','D','E'])
# 写入本地
pd.DataFrame(data)

    A   B   C   D   E
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24
5  25  26  27  28  29

In [2]:
# 索引第二行的值，行标签是“1”
data1 = data.loc[1]
pd.DataFrame(data1)

   1
A  5
B  6
C  7
D  8
E  9

In [3]:
data1 = data.iloc[1]
pd.DataFrame(data1)

   1
A  5
B  6
C  7
D  8
E  9

In [11]:
data2 = data.loc[ : ,"B"]
pd.DataFrame(data2)

    B
0   1
1   6
2  11
3  16
4  21
5  26

In [10]:
data2 = data.loc[ 1:2,:]
pd.DataFrame(data2)
##loc索引了两行

    A   B   C   D   E
1   5   6   7   8   9
2  10  11  12  13  14

In [7]:
data1 = data.iloc[1:2, :]
pd.DataFrame(data1)
##iloc只索引了一行

   A  B  C  D  E
1  5  6  7  8  9

Station.to_csv(SaveFile_Name, encoding = "utf_8",
              index = False , header = False , mode = 'a+')
SaveFile_Name必须指定到某一个csv文件，单纯指向文件夹是无法写入的

on_mean = tmp[['on_time','on_man']].groupby('on_time').agg({'on_man':'mean'})
#依据on_time分组，{'on_man':'mean'}表示对on_man取平均值

一个错误
plt.xlabel = 'xxxxx' 导致不能设置坐标轴标签
因为系统将plt. xlabel认为是str数据
会报错：str’ object is not callable

In [3]:
#判断某一天是不是假期
import holidays
cn_holidays = holidays.country_holidays('CN')  # 综合了中国所有节假日日期
'2016-02-15' in cn_holidays

False

# 将列表写入csv的代码
holidays_2015_2016.to_csv('D:/DataMiningProject/Project-02/holidays_2015_2016.csv', header = False, index = False, encoding = "utf_8")
header是上标签
index是索引

tmp = pd.merge(holidays , Train_Station_01 , on = 'date' , how =  'inner')  #以date为主键进行内合并
#将holidays与Train_Station_01合并
#on = 'date'表示依据‘date’下的数据进行合并 ， 'date'不失配，合并就不失配
#how表示合并模式，innner表示内合并，失配会删除整行，outer表示外合并，失配会用NAN代替失配的数据

In [20]:
import pandas as pd
a = pd.DataFrame({'a':['a','b','c'],
                  'b':['b','c','d'],
                  'c':['c','d','e']})
b= pd.DataFrame({'a':['a','b','e'],
                  'b':['b','f','d'],
                  'c':['g','d','e']})

In [21]:
a

   a  b  c
0  a  b  c
1  b  c  d
2  c  d  e

In [22]:
b

   a  b  c
0  a  b  g
1  b  f  d
2  e  d  e

In [23]:
pd.merge(a,b,on = 'a',how ='inner')

   a b_x c_x b_y c_y
0  a   b   c   b   g
1  b   c   d   f   d

In [24]:
pd.merge(a,b,on = 'a',how ='outer')

   a  b_x  c_x  b_y  c_y
0  a    b    c    b    g
1  b    c    d    f    d
2  c    d    e  NaN  NaN
3  e  NaN  NaN    d    e